<h2>Sign In</h2>

<%= semantic_form_for :session, :url => session_path do |f| %>
  <%= f.inputs do %>
    <%= f.hidden_field :redirect_to, :value => @redirect_to %>
    <% if @username.nil? %>
      <%= f.input :username %>
    <% else %>
      <li>
        <%= f.label :username %>
        <%= @username %>
      </li>
    <% end %>
    <%= f.input :password %>
  <% end %>
  <%= f.buttons do %>
    <%= f.commit_button 'Log in' %>
  <% end %>

  <p>
    Forgot your username or password?
    <%= link_to "Recover your account", reset_password_users_path %>
  </p>
<% end %>
