<h3>Sign In</h3>

<% flash.each do |name, msg| %>
<div class="<%= name %>"><%= msg %></div>
<% end %>

<dl>
  <dt>Site</dt><dd><%= @oidreq.trust_root %></dd>
  <dt>Identity</dt><dd><%= @oidreq.identity %></dd>
</dl>

<form method="post" action="<%= sessions_url %>">
  <input type="password" name="password" size="15" /><br/>
  <input type="submit" name="result" value="Login" />
  <input type="submit" name="result" value="Cancel" />
</form>
