<h3>Sign In</h3>

<%= semantic_form_for :session, :url => sessions_path do |f| %>
  <%= f.inputs do %>
    <% if @username.nil? %>
      <%= f.input :username %>
    <% else %>
      <li>
        <%= f.label :username %>
        <%= @username %>
      </li>
    <% end %>
    <%= f.input :password %>
  <% end %>
  <%= f.buttons do %>
    <%= f.commit_button 'Log in' %>
    <%= f.commit_button 'Cancel' %>
  <% end %>
<% end %>
