<% content_for :head_extras do%>
  <%= javascript_include_tag 'new_decision' %>
<% end %>

<h3>Confirm ID Request</h3>

<%= semantic_form_for :decision, :url => decisions_path do |f| %>
  <%= f.buttons do %>
    <%= f.commit_button "yes" %>
    <%= f.commit_button "no" %>
  <% end %>
<% end %>
