<% unless table_data.empty? %>
  <%= form_for @user do |form| %>
    <h3><%= table_name.capitalize %> datasets</h3>
    <table id="<%= table_name %>">
      <% table_data.each do |permission| %>
        <tr><th>Dataset ID</th><th colspan="2">Dataset Name</th><th><%= table_name == :accessible ? "Revoke Permission" : "Add" %></th><th>Delete</th></tr>
        <tr>
          <td><%= permission.datasetID %></td>
          <td colspan="2"><%= permission.access_level.datasetname %></td>
          <td>
            <% if table_name == :accessible && permission.user_has_access %>
              <%= link_to user_permissions_a_path(@user.user, permission.datasetID, :type => 'revoke'), :method => :delete do %>
                <%= image_tag "button_drop.png", :alt => "revoke" %>
              <% end %>
            <% elsif table_name == :pending %>
              <%= check_box_tag "user[datasets_cat_a_pending_to_grant][]", permission.datasetID, false, :id => "pending_#{permission.datasetID}" %>
            <% end %>
          </td>
          <td>
            <%= link_to user_permissions_a_path(@user.user, permission.datasetID), :method => :delete do %>
              <%= image_tag "button_drop.png", :alt => "delete" %>
            <% end %>
          </td>
        </tr>
        
        <% files = AccessLevel.files_for_dataset(permission.datasetID) %>
        <%= render :partial => 'users/datasets_table_files', :locals => {:files => files} %>
        
        <tr><td></td><td></td><td></td><td></td></tr>
      <% end %>
    </table>

    <%= form.submit "Add Access" if table_name == :pending %>
 <% end %>
<% end %>
