<h2>User details</h2>

<table>
  <tr><td>Username:</td><td><%= @user.user %></td></tr>
  <tr><td>Email address:</td><td><%= @user.email %></td></tr>
  <tr id="acspri">
    <td>ACSPRI member?</td>
    <td>
      <%= form_for @user do |form| %>
        <%= @user.acsprimember? ? "Yes" : "No" %>
        <%= form.hidden_field :acsprimember, :value => 1-@user.acsprimember %>
        <%= form.submit "Change" %>
      <% end %>
    </td>
  </tr>
  <tr id="role">
    <td>Role:</td>
    <td>
      <%= form_for @user do |form| %>
        <%= form.collection_select :user_role, RoleEjb.all, :id, :id, {:selected => @user.user_role } %>
        <%= form.submit "Change" %>
      <% end %>
   </td>
  </tr>
</table>

<hr />

<div id="category_a">
  <h2>Category A Datasets</h2>

  <%= render :partial => 'users/datasets_table', :locals => {:table_name => :pending, :table_data => @datasetsPending} %>
  <%= render :partial => 'users/datasets_table', :locals => {:table_name => :accessible, :table_data => @datasetsAccessible} %>


  <h3>Add access to a dataset</h3>
  <%= form_for @user do |form| %>
    <%= form.collection_select :datasets_cat_a_to_add, @datasetsCatA, :datasetID, :dataset_description, {}, {:multiple => '1'} %>
    <br />
    <%= form.submit "Add dataset(s)" %>
  <% end %>
</div>
