<h2>User Registration</h2>

<% if Rails.env.production? %>
  <p>
    Registration gives you access to analyse all of ASSDA's
    unrestricted holdings online for free.  The information collected
    will only be used to understand who is using our holdings and why.
    By submitting the form, you agree to use the data for statistical
    purposes only and not for commercial or financial gain.  Where
    statistical tables, graphs etc. obtained from analysis of these
    data are included in any published work, you agree to provide
    ASSDA with the bibliographic details and, where available, online
    links to the published work and to use the form of citation
    provided in the relevant online catalogue record.
  </p>
  <p>
    Please fill out and submit the form below.  Upon submission you
    will receive an automated email with your login details.  All
    fields are required:
  </p>
<% end %>

<%= semantic_form_for @user do |f| %>
  <%= f.inputs do %>
    <%= f.input :user, :label => 'Username' %>
    <%= f.input :title, :as => :select,
                :collection => @user.title_options %>
    <%= f.input :fname, :label => 'First Name' %>
    <%= f.input :sname, :label => 'Last Name' %>
    <%= f.input :email, :label => 'Email Address' %>
    <%= f.input :email_verify, :label => 'Re-type Email Address' %>
    <%= f.input :position, :as => :select,
                :collection => @user.position_options %>
    <%= f.input :otherpd, :label => 'Specify other position' %>
    <%= f.input :action, :label => 'Type of Work', :as => :select,
                :collection => @user.action_options %>
    <%= f.input :otherwt, :label => 'Specify other type of work' %>
    <%= f.input :country, :label_method => :Countryname %>
    <%= f.input :austinstitution, :label => 'Australian Institution',
                :as => :radio, :collection => @user.austinstitution_options %>
    <%= f.input :australian_uni, :label => 'Australian University',
                :label_method => :Longuniname %>

    <%= f.commit_button 'Submit' %>
  <% end %>
<% end %>
