<% content_for(:title) { "Reset your password" } %>

<p>
  If you have forgotten your username or password please enter your email address below. Instructions to reset your password will be emailed to you.
</p>

<p>If this email address has changed since you registered please contact the archive at ada@anu.edu.au.</p>

<br />

<%= semantic_form_for :reset_password do |f| %>
  <%= f.inputs do %>
    <%= f.input :email, :label => 'Email Address' %>
  <% end %>

  <%= f.buttons do %>
    <%= f.commit_button 'Reset password' %>
  <% end %>
<% end %>
