<div id="search">
  <%= render 'users/search_form' %>

  <% unless @users.nil? %>
    <% if @users.empty? %>
      Your search '<%= @search_query %>' returned no results.
    <% else %>
      <%= will_paginate @posts %>

      <%= link_to search_users_path(request.parameters.merge({:paginate => (@paginate ? 0 : 1), :page => 1})) do %>
        <%= @paginate ? "Show all" : "Show in pages" %>
      <% end %>

      <%= render 'users/search_results' %>

      <%= will_paginate @posts %>
    <% end %>
  <% end %>
</div>
