<%= render 'users/search_form' %>

<% unless @users.nil? %>
  <% if @users.empty? %>
    Your search '<%= @search_query %>' returned no results.
  <% else %>
    <%= will_paginate @posts %>

    <table id="search_results">
      <tr>
	<th>Username</th>
      </tr>
      <% @users.each do |user| %>
        <tr>
	  <td><%= user.user %></td>
	</tr>
      <% end %>
    </table>

    <%= will_paginate @posts %>
  <% end %>
<% end %>
