<%= render 'agreement_general', :undertaking => @undertaking %>

<div class="undertaking-edit-actions">
  <%= form_for [@user, @undertaking] do |form| %>
    <%= form.hidden_field :agreed, :value => 1 %>
    <%= form.submit "I agree" %>
  <% end %>

  <%= button_to "I do not agree", [@user, @undertaking], :method => :delete %>
</div>
