<p>Apply for access to download <%= "un" unless @undertaking.is_restricted %>restricted data.</p>

<% if @undertaking.is_restricted %>
  <p>Agree to the Restricted Access Undertaking for access to download restricted data. If unrestricted data are required go to straight to the <%= link_to "general undertaking form", new_user_undertaking_path(@user, :is_restricted => 0) %>.</p>
<% else %>
  <p>User registration, completion of a description of intended use and agreement to an undertaking will give you access to download your choice of unrestricted data.</p>
<% end %>

<% unless current_user.institution_is_acspri_member %>
  <p><strong>You will be charged $1,000 per dataset.</strong></p>
<% end %>

<%= semantic_form_for [@user, @undertaking] do |form| %>
  <%= form.inputs do %>
    <%= form.input :is_restricted, :as => :hidden %>
    <%= form.input :datasets, :collection => datasets_to_collection(@datasets), :selected => [@datasetID], :input_html => {:class => 'filterable'}, :hint => "Please select the datasets that you require.<br />Use the command or control key to select multiple datasets, or the shift key to select a range.".html_safe %>

    <%= form.input :intended_use_type, :as => :check_boxes, :collection => Undertaking.intended_use_options.invert, :label => "Intended use of data:", :hint => "Tick all that apply" %>
    <%= form.input :intended_use_other, :label => "Other (specify):" %>
    <%= form.input :email_supervisor, :label => "Head of Department/Unit/Supervisor's email address:" %>
    <%= form.input :intended_use_description, :label => "Description of intended use / research abstract:", :hint => "This section should include a brief summary of the proposed research." %>
    <%= form.input :funding_sources, :label => "Source(s) of funding:", :hint => "Please indicate 'None' if an unfunded project." %>
  <% end %>

  <%= form.buttons do %>
    <%= form.commit_button "Continue" %>
  <% end %>
  
<% end %>
