<% content_for :head_extras do %>
  <meta http-equiv="X-XRDS-Location" content="<%= xrds_idp_url %>" />
  <link rel="openid.server" href="<%= server_url %>" />
<% end %>

<% if current_user %>
  <%= render 'users/details' %>
<% else %>
  Welcome to the ADA user management system. Please <%= link_to "log in", new_session_path %> or <%= link_to "register", new_user_path %> to continue!
<% end %>

<% unless Rails.env.staff? %>
  <h2>Debug table</h2>
  <table>
    <tr><td>ThisIsAVeryLongWordThisIsAVeryLongWordThisIsAVeryLongWordThisIsAVeryLongWordThisIsAVeryLongWordThisIsAVeryLongWordThisIsAVeryLongWordThisIsAVeryLongWordThisIsAVeryLongWordThisIsAVeryLongWord</td></tr>
  </table>
<% end %>
