<%= form_for :search, :url => search_admin_users_path, :html => {:method => :get} do |f| %>

  <h2>Search by institution</h2>

  <p>
    <%= radio_button_tag 'search[institution_type]', "Uni" %>
    <%= label_tag :search_institution_type_Uni, "Australian uni" %>

    <%= radio_button_tag 'search[institution_type]', "Dept" %>
    <%= label_tag :search_institution_type_Dept, "Australian Government/Research" %>

    <%= radio_button_tag 'search[institution_type]', "Other" %>
    <%= label_tag :search_institution_type_Other, "Other Australian Institution" %>

    <%= radio_button_tag 'search[institution_type]', "NonAus" %>
    <%= label_tag :search_institution_type_NonAus, "Non-Australian Institution" %>
  </p>

  <p>
    <%= collection_select(:search, :uniid, AustralianUni.all, :id, :Longuniname) %><br />

    <% australian_gov_options = build_australian_gov_options %>
    <%= select_tag("search[departmentid]", grouped_options_for_select(australian_gov_options, nil)) %><br />



    
  </p>

  <p>
    <%= f.submit "Search by institution" %>
  </p>
<% end %>
