<table id="search_results">
  <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th>Role</th>
      <th>Email</th>
      <th>Institution</th>
      <th>Type of work</th>
      <th>Position</th>
      <th>Date registered</th>
      <th>Signed undertaking?</th>
      <th>Title</th>
      <th>First name</th>
      <th>Surname</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.user, edit_admin_user_path(user) %></td>
        <td><%= user.password %></td>
        <td><%= user_roles_to_s(user.user_roles) %></td>
        <td><%= user.email %></td>
        <td><%= user.institution %></td>
        <td><%= user.action %></td>
        <td><%= user.position %></td>
        <td><%= user.dateregistered %></td>
        <td><%= signed_undertaking_to_s(user.signed_undertaking) %></td>
        <td><%= user.title %></td>
        <td><%= user.fname %></td>
        <td><%= user.sname %></td>
      </tr>
    <% end %>
  </tbody>
</table>
