<%= form_for :search, :url => search_admin_users_path, :html => {:method => :get} do |f| %>
  <p><%= f.text_field :q, :value => @search_query %></p>
  <p>
    <%= f.submit "Search by username" %>
    <%= f.submit "Search by surname" %>
    <%= f.submit "Search by email address" %>
    <%= f.submit "List all users" %>
  </p>
<% end %>
