<table>
  <tr><td>Name:</td><td><%= @user.name %></td>
  <tr><td>Username:</td><td><%= @user.user %></td></tr>
  <tr><td>Email address:</td><td><%= @user.email %></td></tr>
  <tr><td>Affiliation:</td><td><%= @user.affiliation %> <%= @user.country ? "(#{@user.country.Countryname})" : '' %></td></tr>
  <tr><td>Institution is ACSPRI member?</td><td><%= bool_to_s(@user.institution_is_acspri_member) %></td></tr>
  <tr><td>Type of work:</td><td><%= @user.action %></td></tr>
  <tr><td>Member since:</td><td><%= Time.parse(@user.dateregistered).strftime("%e %b %Y") %>  (<%= time_ago_in_words(@user.dateregistered) %>)</td></tr>
  <tr><td>Last access:</td><td><%= @user.last_access_time ? time_ago_in_words(@user.last_access_time)+" ago" : "Never" %></td></tr>
  <tr>
    <td>
      Number of accesses<br />
      (last 12 months / all time):
    </td>
    <td>
      Analyse: <%= @user.num_accesses_in_past(1.year, :analyse) %> / <%= @user.num_accesses_in_past(nil, :analyse) %><br />
      Download: <%= @user.num_accesses_in_past(1.year, :download) %> / <%= @user.num_accesses_in_past(nil, :download) %><br />
    </td>
  </tr>
  <tr><td>Position:</td><td><%= @user.position_s %></td></tr>

  <tr id="confirmed_acspri_member">
    <td>Confirmed ACSPRI member?</td>
    <td>
      <%= form_for [:admin, @user] do |form| %>
        <%= confirmed_acspri_member_to_s(@user.confirmed_acspri_member) %>
        <%= form.hidden_field :confirmed_acspri_member, :value => (1-@user.confirmed_acspri_member).abs %>
        <%= form.submit @user.confirmed_acspri_member? ? "Revoke membership" : "Confirm membership" %>
      <% end %>
    </td>
  </tr>
  <tr id="role">
    <td>Nesstar role:</td>
    <td>
      <%= form_for [:admin, @user] do |form| %>
        <%= form.collection_select :user_role, RoleEjb.all, :id, :id, {:selected => @user.user_role } %>
        <%= form.submit "Change" %>
      <% end %>
   </td>
  </tr>
  <tr id="role-cms">
    <td>CMS role:</td>
    <td>
      <%= form_for [:admin, @user] do |form| %>
        <%= form.select :role_cms, User::ROLES_CMS %>
        <%= form.submit "Change" %>
      <% end %>
   </td>
  </tr>
</table>
