<!DOCTYPE html>
<html>
  <head>
    <title>ADA Users</title>
    <%= stylesheet_link_tag 'formtastic', 'application' %>
    <%= javascript_include_tag 'jquery', 'rails', 'application' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <% flash.each do |name, msg| %>
      <div id='flash_<%=name%>'><%=h(msg).gsub(/\n/, '<br/>')%></div>
    <% end %>

    <div id='main'>
      <%= yield %>
    </div>

 </body>
</html>
