<!DOCTYPE html>
<html>
  <head>
    <title>ADA Users</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag 'jquery', 'rails', 'application' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <% flash.each do |name, msg| %>
      <div id='flash_<%=name%>'><%=h(msg).gsub(/\n/, '<br/>')%></div>
    <% end %>

    <div id='main'>
      <%= yield %>
    </div>

    <% if oidreq = session[:last_oidreq] %>
    <div class='status'>
      <dl>
	<dt>Requesting Site:</dt><dd><%= oidreq.trust_root %></dd>
	<% if not oidreq.id_select %>
	  <dt>Identity to Check:</dt><dd><%= oidreq.identity %></dd>
	<% end %>
      </dl>
    </div>
    <% end %>

  </body>
</html>
